#display {
    font-size: 36px;
    height: 1em;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;
    overflow: hidden;
}

button {
    padding: 10px;
    border-radius: 6px;
}

#buttons {
    display: grid;
}

#C {
    grid-column-end: span 3;
    grid-row-end: span 1;
}

#digits {
    grid-column-end: span 3;
    grid-column-end: span 4;
}

#ops {
    grid-column-end: span 1;
    grid-column-end: span 5;
}